[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
snorkel = "==0.9.9"
pytest = "*"
boto3 = "*"
en_core_web_sm = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl"}

[dev-packages]

[requires]
python_version = "3.12"
